.layout {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.header {
  text-align: center;
  color: #fff;
  background-color: #0958d9;
}

.content {
  text-align: center;
  color: #fff;
  background-color: #009e61;
  padding: 20px;
}

.footer {
  text-align: center;
  color: #fff;
  background-color: #0958d9;
}
