.layout{
  border-radius: 8px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
} 

.header {
  text-align: center;
  color: #fff;
  background-color: #4096ff;
}

.content {
  text-align: center;
  color: #fff;
  background-color: #0958d9;
}

.footer {
  text-align: center;
  color: #fff;
  background-color: #4096ff;
}
